@inherits LayoutComponentBase

<PageTitle>SimpleWizard</PageTitle>

<main>
    <header class="bgdark text-white">
        <h4 class="text-center">Przykładowy wizard</h4>
    </header>

    <section class="mt-4 px-4 main-content">
        @Body
    </section>

    <footer class="bgdark text-white">
        <h5 class="text-center">Stworzone przez: <i><b>Konrad Artymiak</b>, <b>Mateusz Staszyński</b>, <b>Artur Lewandowski</b></i></h5>
    </footer>
</main>
